h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  background: rgba(240, 237, 237, 0.806);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background: #007bff;
  color: rgb(255, 255, 255);
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ac9a9a;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

.btnf {
  background: #28a745;
  color: white;
}

.btns{
  background: #cd3242;
  color: white;
}

@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
  th, td {
    padding: 8px;
  }
}
