*{
  margin: 0px;
  
}
.nav{
  display: flex;
  height: 50px;
  padding: 5px 20px;
  background-color: azure;
}
.navbar-brand{
  display: flex;
  text-decoration: none;
  font-size: 25px;
  align-items: center;
}
.nav-link{
  font-size: 15px;
  text-decoration: none;
}
.link{
gap: 15px;
display: flex;
align-items: center;
margin-left: auto ;
}